*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.content-container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  padding: 1em 2.5em;
}

.menu-toggle {
  display: none;
  position: absolute;
  top: 20px;
  right: 10px;
}

.menu-toggle .line1,
.menu-toggle .line2,
.menu-toggle .line3 {
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  background-color: white;
}

/* Header Styles */
.main-header {
  background-image: url("../img/BG Phoro.png");    
  position: relative;
}

.menu-toggle-close-icon {
  display: none;
  color: white;
  width: 10px;
}

.main-navigation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
}

.main-menu ul {
  display: flex;
}

.logo-container span {
  color: #00C6FF;
  font-size: 1.8em;
  
}

.main-menu li {
  margin-right: 1.5em;
}

.main-menu a {
  color: white;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 300;
}

.main-banner {
  display: flex;
  justify-content: center;
}

.aplication-banner-container {
  margin-top: 4em;
  margin-bottom: 3em;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 275px);
  grid-template-rows: repeat(3, 183px);
  grid-column-gap: 1.5em;
}

.aplication-banner-container .app-screen {
  grid-row: 1 / -1;  
}

.aplication-banner-container img {
  height: 100%;
}

.aplication-banner-container .app-name {
  grid-column: 2 / -1;  
  color: #00C6FF;
  display: flex; align-items: flex-end;
  font-size: 1.5em;
}

.aplication-banner-container .app-name h2 {  
  font-weight: 400;
  margin: .5em 0;
}

.aplication-banner-container .app-description {
  grid-column: 2 / -1;  
  color: white;
}

.aplication-banner-container .app-description p:first-child {
  color: #00C6FF;
  font-size: 1.5em;
  margin: 0;
}

.aplication-banner-container .app-description p:last-child {
  font-size: 1.1em;
}

.aplication-banner-container a {
  color: white;
}

.aplication-banner-container .button-download,
.aplication-banner-container .button-learn-more {
  display: flex;
  align-items: baseline;
}

.aplication-banner-container .download {
  background-color: #00C6FF;
}

.aplication-banner-container .learn-more {
  background-color: rgba(0, 200, 255, 0);
  border: 1px solid white;
}

/* About Section */

.about-section {
  text-align: center;
  margin-bottom: 4em;
}

.about-section h4 {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1.5em;
}

.about-section .line-decoration {
  display: inline-block;
  width: 45px;
  height: 4px;
  background-color: #00C6FF;
}

.about-section .about-text-container {
  text-align: center;
}

.about-text-container p {
  width: 80%;
  display: inline-block;
}

.about-section .icon-items-description {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
}

.icon-items-description div {
  width: 30%;
}

.about-section img {
  width: 135px;
}

.icon-items-description h5 {
  font-size: 1.3em;
  font-weight: 400;
  margin: .5em 0 .5em 0;
}

.icon-items-description p {
  margin: 0;
}

/* Features Section */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?d83kf0');
  src:  url('../fonts/icomoon.eot?d83kf0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?d83kf0') format('truetype'),
    url('../fonts/icomoon.woff?d83kf0') format('woff'),
    url('../fonts/icomoon.svg?d83kf0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-responsive:before {
  content: "\e901";
}
.icon-retina-display:before {
  content: "\e902";
}
.icon-bootstrap:before {
  content: "\e904";
}
.icon-cross-browser:before {
  content: "\e907";
}
.icon-fonts:before {
  content: "\e909";
}
.icon-email:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-linkedin:before {
  content: "\e906";
}
.icon-twitter:before {
  content: "\e908";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e948";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}


.features-section {
  background-color: #00637F;
}

.features-section .features-container {  
  color: white;
  padding-top: 4em;
  display: grid;
  grid-template-columns: 400px 500px;
  grid-template-rows: repeat(1, 450px);
}

.features-section .features-container img {
  grid-row: 1 / -1;
  width: 100%;
}

.features-container .info-container {
  margin-left: 3em;
  height: 100%;
}

.features-container .text-info {
  height: 25%;
}

.features-container .info-container p:first-child {
  font-size: 1.5em;
  margin: 0;
}

.features-container .line-features-decoration {
  display: inline-block;
  width: 60px;
  background-color: #00C6FF;
  height: 4px;
}

.features-container .features-info {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.features-container .features-info i {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
}

.features-container .features-info div {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  grid-column-gap: 1em;
}

.features-container .features-info span {
  font-size: 1.2em;
}

/* Suscribe Styles */
.suscribe-form {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1.5em;
  display: flex;
  align-items: center;  
}

.suscribe-form label {  
  margin-right: 1.5em;
}

.suscribe-form input[type="email"] {
  padding: .9em 1.5em;
  width: 60%;
}

.suscribe-form .button.suscribe {
  background-color: #00C6FF;
  border: none;
  color: white;
  font-size: .6em;
  margin-left: .5em;
  font-weight: 600;
}

/* ScreenShots Styles */
.screenshots-section {
  background-color: rgb(240, 243, 236);
  text-align: center;  
  padding-top: 2em;
  padding-bottom: 2em;
}

.screenshots-section .line-decoration {
  display: inline-block;
  width: 40px;
  height: 4px;
  background-color: #00C6FF;
}

.screenshots-section h4,
.screenshots-section p {
  color: #444646;
  font-size: 1.4em;
}

.screenshots-section h4 {
  margin: 0;
  font-weight: 600;
}

.screenshots-section .text {
  text-align: center;
}

.screenshots-section .text p {
  width: 60%;
  display: inline-block;
  margin: .5em;
}

.screenshots-section .images-app {
  display: grid;
  grid-template-columns: 10px repeat(3, 280px) 10px;
  grid-template-rows: 550px;
  grid-column-gap: 1em;
  align-items: center;
  justify-content: center;
}

.screenshots-section .images-app .prev,
.screenshots-section .images-app .next {
  display: flex;
  align-items: center;  
}

.prev,
.next {
  cursor: pointer;
}

.screenshots-section img {
  width: 100%;
  height: 100%;
}

.screenshots-section .images-app img:first-of-type,
.screenshots-section .images-app img:last-of-type {
  height: 70%;
}

/* Reviews Styles */
.reviews-section {
  padding-top: 4em;
  margin-bottom: 4em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 400px;
}

.reviews-section h4 {
  font-weight: 400;
  font-size: 1.2em;
  margin: 0;
}

.reviews-section .line-decoration {
  display: inline-block;
  width: 45px;
  height: 4px;
  background-color: #00C6FF;
}

.reviews-section .title {
  height: 30%;
}

.reviews-section .title p {
  width: 100%;
}

.reviews-section .app-image {
  width: 100%;
  height: 100%;
  grid-row: 1 / -1;
  grid-column: 2 / -1;
}

.reviews-section .reviews {
  height: 70%;
}

.reviews-section .reviews .box {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 30%;
  text-align: center;
  border: 2px solid #4AA3DF;
}

.reviews-section .reviews .box::before {
  content: " ";
  position: absolute;
  left: 36px;
  bottom: -26px;
  border: 13px solid;
  border-color: #4AA3DF transparent transparent #4AA3DF;
}

.reviews-section .reviews .box::after {
  content: " ";
  position: absolute;
  left: 37px;
  bottom: -23px;
  border: 12px solid;
  border-color: white transparent transparent white;
}

.reviews-section .more-slide {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5em;
}

.reviews-section .more-slide .slide-line {
  height: 4px;
  width: 30px;
  display: inline-block;
  background-color: #00C6FF;
  margin-right: .8em;
}

.reviews-section .more-slide .slide-line:last-of-type {
  margin: 0;
}

.reviews-section .reviews .user {
  display: flex;
  align-items: center;
  width: 85%;
}

.reviews-section .reviews .user img {
  width: 15%;
}

.reviews-section .reviews .name {
  display: flex;
  flex-direction: column;
  margin-left: .5em;  
}

.reviews-section .reviews .name span:first-of-type {
  color: #00C6FF;
  font-size: 1.2em;
}

/* Download Styles */

.download-section {
  padding-top: 2em;
  padding-bottom: 2em;
  background-image: url("../img/download-image.png");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  text-align: center;
}

.download-section h4 {
  margin: 0;
}

.download-section .line-decoration {
  display: inline-block;
  width: 35px;
  height: 4px;
  background-color: #00C6FF;
}

.download-section .download-buttons {
  margin-top: 4em;
  display: flex;
  justify-content: space-between;
}

 /* Form Section Style */
.form-section {
  padding-top: 3em;
  text-align: center;
  margin-bottom: 4em;;
}

.form-section h4 {
  margin: 0;
  font-weight: 400;
  font-size: 1.4em;
}

.form-section .line-decoration {
  display: inline-block;
  width: 25px;
  height: 4px;
  background-color: #00C6FF;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form-section .title-contact {
  color: #00C6FF;
  font-size: 1.2em;
}

.form-section .contact-details {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.form-section .contact-details div {
  margin-top: 1em;
}

.form-section .contact-us {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-section .contact-form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.form-section .contact-form input,
.form-section .contact-form textarea {
  margin-top: 1em;
  width: 70%;
  border: none;
  border: 1px solid #E5E5E5;
  padding: .5em 1em;
  background-color: #F6F5F5;
}

.form-section .contact-form textarea {
  width: 85%;
}

.form-section .contact-form input[type="submit"] {
  background-color: #00C6FF;
  width: 30%;
  color: white;
  padding: .5em;
  font-size: 1.1em;
}

/* Main Footer Styles */
.main-footer {
  background-color: #33495E;
  color: white;
  text-align: center;
}

.main-footer .button-top {  
  position: relative;  
}

.main-footer .button-top .link-top {
  background-color: #33495E;
  position: absolute;
  color: white;
  font-size: 1.4em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: -15px;
  left: 48%;
  padding-top: .1em;
}

.main-footer .title-to-top {
  font-size: 1.4em;  
  display: inline-block;
  padding-top: 1em;
}

.main-footer .social-items-footer {
  margin: 2em 0 2em 0;
}

.main-footer .social-items-footer a {
  color: white;
  padding: .5em;
  border-radius: 50%;
  font-size: 1.2em;
  background-color: #435361;
  margin-right: 1em;
}

.main-footer .copyright {
  margin-bottom: 2em;
  display: inline-block;
}

/* Media Query */

/* Laptop - 1024px */

@media screen and (max-width: 1024px) {

  /* Header */
  .content-container {
    max-width: 900px;
  }

  .aplication-banner-container {
    grid-column-gap: 0.5em;
  }

  .aplication-banner-container .app-description p:last-child {
    width: 80%;
  }
  
  /* Suscribe */

  .suscribe-form label {
    margin-right: .5em;
    font-size: .9em;
  }

}

/* Tablet portrait- 768px */

@media screen and (max-width: 768px) and (orientation: portrait) {

  .button {
    padding: 1em 2em;
  }

  /* Header */
  .content-container {
    max-width: 700px;
  }

  .logo-container span {
    font-size: 1.5em;
  }

  .main-menu a {
    font-size: 1em;
  }

  .aplication-banner-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    grid-column-gap: 1em;
  }

  .aplication-banner-container .app-description p:first-child {    
    font-size: 1.3em;    
  }

  .aplication-banner-container .app-description p:last-child {
    font-size: 1.1em;
    width: 100%;
    margin: .1em 0;
  }

  .aplication-banner-container .button-download, .aplication-banner-container .button-learn-more {
    align-items: center;
  }

  /* Features */

  .features-section .features-container {
    padding-top: 3em;
    padding-bottom: 2.5em;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: repeat(1, 400px);
  }

  .features-container .info-container {
    margin-left: 2em;
  }

  /* Suscribe */

  .suscribe-form {
    justify-content: space-evenly;
  }

  .suscribe-form input[type="email"] {
    width: 50%;
  }

  /* Screeenshots */

  .screenshots-section .images-app {
    grid-template-columns: 10px repeat(3, 1fr) 10px;
    grid-template-rows: 500px;
  }

  /* Download */

  .download-section .download-buttons {
    width: 100%;
  }

  .download-section .download-buttons > a {
    width: 30%;
  }

  .download-section .download-buttons img {
    width: 100%;
  }

  /* Contact */

  .form-section .contact-form,
  .form-section .contact-us .title-contact {
    margin-left: 1em;
  }

}

/* Tablet landscape- 856px */

@media screen and (max-width: 856px) and (orientation: landscape) {
  
  .button {
    padding: 1em 2em;
  }

  /* Header */
  .content-container {
    max-width: 700px;
  }

  .logo-container span {
    font-size: 1.5em;
  }

  .main-menu a {
    font-size: 1em;
  }

  .aplication-banner-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    grid-column-gap: 1em;
  }

  .aplication-banner-container .app-description p:first-child {    
    font-size: 1.3em;    
  }

  .aplication-banner-container .app-description p:last-child {
    font-size: 1.1em;
    width: 100%;
    margin: .1em 0;
  }

  .aplication-banner-container .button-download, .aplication-banner-container .button-learn-more {
    align-items: center;
  }

  /* Features */

  .features-section .features-container {
    padding-top: 3em;
    padding-bottom: 2.5em;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: repeat(1, 400px);
  }

  .features-container .info-container {
    margin-left: 2em;
  }

  /* Suscribe */

  .suscribe-form {
    justify-content: space-evenly;
  }

  .suscribe-form input[type="email"] {
    width: 50%;
  }

  /* Screeenshots */

  .screenshots-section .images-app {
    grid-template-columns: 10px repeat(3, 1fr) 10px;
    grid-template-rows: 500px;
  }

  /* Download */

  .download-section .download-buttons {
    width: 100%;
  }

  .download-section .download-buttons > a {
    width: 30%;
  }

  .download-section .download-buttons img {
    width: 100%;
  }

  /* Contact */

  .form-section .contact-form,
  .form-section .contact-us .title-contact {
    margin-left: 1em;
  }

}

/* Movile l portrait- 425px */

@media screen and (max-width: 425px) and (orientation: portrait) {
  /* Header */
  .main-header {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main-menu {       
    display: none;  
    z-index: 100;
  }    

  .menu-toggle-close-icon {
    display: block;
    color: white;
    font-size: 1.5em;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 101;
  } 
  
  .main-menu ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .main-menu li {
    margin-bottom: 1em;
  }

  .menu-toggle {
    display: block;
  }

  .content-container {
    max-width: 390px;
  }

  .aplication-banner-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 170px 350px 100px;
    grid-column-gap: 0;
    margin-top: 0;
    justify-items: center;
  }

  .aplication-banner-container .app-name {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .aplication-banner-container .app-description {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  .aplication-banner-container .app-screen {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  .aplication-banner-container .button-download, .aplication-banner-container .button-learn-more {
    justify-content: center;
  }

  /* About */
  .about-section .icon-items-description {
    flex-direction: column;
    margin-top: 0;
  }

  .icon-items-description div {
    width: 100%;
    margin-top: 1.5em;    
  }

  /* Features */

  .features-section .features-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 400px);
    align-items: center;
  }

  .features-section .features-container img {
    grid-row: 2 / -1;
    height: 80%;
  }

  .features-container .info-container {
    grid-row: 1 / 2;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .features-container .text-info {
    text-align: center;
  }

  /* Suscribe */

  .suscribe-form {
    flex-direction: column;
    text-align: center;
  }

  .suscribe-form label {
    margin: 0;    
  }

  .suscribe-form input[type="email"] {
    width: 100%;
  }
  
  .suscribe-form .button.suscribe {
    margin: 0;
  }

  .suscribe-form label,
  .suscribe-form input[type="email"] {
    margin-bottom: 1em;
  }

  /* ScreenShots */

  .screenshots-section .images-app {
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 350px;
  }

  .screenshots-section img {
    display: none;
  }

  .screenshots-section img:nth-of-type(2) {
    display: block;
  }

  /* Reviews */  

  .reviews-section {
    padding-top: 2em;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 400px;
  }

  .reviews-section .app-image {
    grid-row: 2 / -1;
    grid-column: 1 / -1;
  }

  .reviews-section .title {
    text-align: center;
  }

  .reviews-section .reviews .box {
    margin-top: 1em;
    padding: .5em;
  }

  .reviews-section .reviews .box::before,
  .reviews-section .reviews .box::after {
    content: none;
  }

  .reviews-section .reviews .user {
    width: 100%;
  }

  /* Download */

  .download-section {
    background-size: cover;
    padding-bottom: 1em;
  }

  .download-section .download-buttons {
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
  }

  .download-section .download-buttons > a {
    margin-bottom: 1em;
    width: 50%;
  }

  /* Contact */

  .contact-container {
    grid-template-columns: 1fr;
    grid-template-rows: 400px 250px;
  }

  .form-section .contact-us {
    grid-row: 1 / 2;
    text-align: center;
  }

  .form-section .contact-form, .form-section .contact-us .title-contact {
    margin-left: 0;
  }

  .form-section .contact-form input,
  .form-section .contact-form textarea {
    width: 100%;
    margin-top: 1.5em;
  }

  .form-section .contact-form textarea {
    width: 100%;
  }

  .form-section .contact-details {
    align-items: center;
    justify-content: center;
  }

}

/* Movile M portrait- 375px */

@media screen and (max-width: 375px) and (orientation: portrait) {
  /* Header */
  .content-container {
    max-width: 350px;
  }

  .button {
    padding: 1em;
  }

  .aplication-banner-container .app-description p:first-child {
    font-size: 1.2em;
  }

  .aplication-banner-container .app-description p:last-child {
    font-size: 1em;
  }

}

/* Movile S portrait- 320px */

@media screen and (max-width: 320px) and (orientation: portrait) {
  /* Header */
  .content-container {
    max-width: 300px;
  }

  .aplication-banner-container .app-description p:first-child {
    font-size: 1.1em;
  }

  /* Features */

  .features-section .features-container img {
    width: 80%;
    margin: 0 auto;
  }

  /* Reviews */  

  .reviews-section .reviews {
    height: auto;
  }

  .reviews-section .reviews .box {
    padding: 0;
  }

  /* Download */

  .download-section .download-buttons > a {
    width: 60%;
  }

  /* Footer */

  .main-footer .social-items-footer a {
    margin-right: .5em;
  }
}

/* Show menu mobile */
.menu-toggle-open {
  height: 100vh;
  display: block;
  width: 250px;
  z-index: 100;
  position: fixed;
  right: 0;
  top: 0;
  background-color: black;
}